.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}

.pie-chart {
  width: 400px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  padding-left: 100px;
}

@media screen and (max-width: 800px) {

  .pie-chart {
    width: 400px;
  }
  
  .cards-container {
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
  }
}